.claude/
.covsubmit
.covtoken
.DS_Store
.gdb_history
.gdbinit
.libs
.pytest_cache/
*.exe
*.gz
*.log
*.pyc
*.stackdump
*.trs
**__pycache__/
*~
aclocal.m4
autom4te.cache
bugs
CLAUDE.md
compile
config.cache
config.log
config.status
configure
cov-int
dmalloc*
example?
git-version.h
gtk-doc.make
INSTALL
install-sh
libtool
LICENSE.txt
Makefile
Makefile.in
mkinstalldirs
NEWS
not-used
old
rasqal-src-config
rasqal.pc
rasqal.rdf
rasqal.spec
README
releases/
run*
setup.sh
specs/
TAGS
TODO
