**__pycache__/
*.gz
*.log
*.pyc
*.stackdump
*.trs
*~
.DS_Store
.claude/
.covsubmit
.covtoken
.gdb_history
.gdbinit
.libs
.lldbinit
.pytest_cache/
/.vscode/
/CLAUDE.md
/bugs/
/not-used/
/old/
/releases/
/setup*
/specs
INSTALL
LICENSE.txt
Makefile
Makefile.in
NEWS
README
TAGS
TODO
aclocal.m4
autom4te.cache
compile
config.cache
config.log
config.status
configure
cov-int
diff.out
dmalloc*
do-*
example?
git-version.h
gtk-doc.make
install-sh
libtool
mkinstalldirs
rasqal-[0-9.]*/
rasqal-src-config
rasqal.pc
rasqal.rdf
rasqal.spec
result.out
roqet.err
roqet.out
roqet.tmp
