**__pycache__/
*.exe
*.gz
*.log
*.pyc
*.stackdump
*.trs
*~
.DS_Store
.claude/
.covsubmit
.covtoken
.gdb_history
.gdbinit
.libs
.pytest_cache/
CLAUDE.md
INSTALL
LICENSE.txt
Makefile
Makefile.in
NEWS
README
TAGS
TODO
aclocal.m4
autom4te.cache
bugs
compile
config.cache
config.log
config.status
configure
cov-int
dmalloc*
example?
git-version.h
gtk-doc.make
install-sh
libtool
mkinstalldirs
not-used
old
rasqal-[0-9.]*/
rasqal-src-config
rasqal.pc
rasqal.rdf
rasqal.spec
releases/
run*
setup.sh
specs/
