*.la
*.lo
*.o
*.plist
.deps
.gdb_history
.libs
TAGS
check-query
check-query.exe
rasqal-compare
rasqal-compare.exe
rasqal-compare.html
rasqal-mcp-server
rasqal-mcp-server.exe
roqet
roqet.exe
roqet.html
roqet.html
srxread
srxread.exe
srxwrite
srxwrite.exe
testrunner
testrunner.exe
to-ntriples
to-ntriples.exe
