*.bak
*.graffle
*.stamp
html/
librasqal.html
rasqal-changes.xml
rasqal-decl-list.txt
rasqal-decl.txt
rasqal-docs.sgml
rasqal-fake.h
rasqal-undeclared.txt
rasqal-undocumented.txt
rasqal-unused.txt
rasqal.actions
rasqal.args
rasqal.hierarchy
rasqal.interfaces
rasqal.prerequisites
rasqal.signals
version.xml
xml/
