*.gz
*.la
*.lo
*.log
*.n3
*.nt
*.o
*.owl
*.rdf
*.rdfs
*.rss
*test
*test.exe
.deps
.gdb_history
.libs
TAGS
dmalloc*
example?
rasqal.h
rasqal-config
rasqal_config.h
rasqal_config.h.in
stamp-h*
test*
rdql_lexer.c
rdql_lexer.h
rdql_parser.c
rdql_parser.h
rdql_parser.output
sparql_lexer.c
sparql_lexer.h
sparql_parser.c
sparql_parser.h
sparql_parser.output
