*.gz
*.la
*.lo
*.log
*.n3
*.nt
*.o
*.owl
*.plist
*.rdf
*.rdfs
*.rss
*test
*test.exe
.deps
.gdb_history
.libs
TAGS
example?
rasqal.h
rasqal-config
rasqal_config.h
rasqal_config.h.in
stamp-h*
test*
sparql_lexer.c
sparql_lexer.h
sparql_parser.c
sparql_parser.c.bak
sparql_parser.h
sparql_parser.output
win32_rasqal_config.h
